.image{
    background-image: url(header-image.png);
    width:1349px;
    height: 1080px;
    margin: -8px;
}
.a2{
    filter: saturate(140%);
    height:auto ;
    width: 185px ;
    margin-left: 185px;
    margin-top:30px ;

}
.a3{
    display:flex;
    justify-content: right;
    margin-top: -51px;
    margin-right: 189.5px;
    
    
    

}




.dropbtn {
  background-color:rgba(0, 0,0,0.3);

   
    color: white;
    font-weight: bold;
    font-family:sans-serif;
    padding: 10px;
    font-size: 16px;
    border: 1px solid grey;
    cursor: pointer;
    word-spacing: 5px;
    border-radius: 6px;
    margin-right: 9px;
    width: 155px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 145px;
    
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
    font-family: sans-serif;
    font-weight: 300;
    border: none;
    text-align: center;
    width: 140px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #1a76ee;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    border: 2.9px solid white;
  }

  .sign-in{
    background-color: rgb(229, 9,20) ;
    padding: 11px 13px;
    font-size: 17.5px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    width: 95px;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  h1{
    color: white;
    font-family:sans-serif ;
    font-weight: 1000;
    font-size: 67px;
   
    margin-left: 315px;
    margin-top: 50px;
    text-align: justify;
    width:730px;
    letter-spacing: -2px;
    word-spacing: -5px;
    
  }
  h4{
    color: white;
    font-family:sans-serif ;
    font-weight: 1000;
    font-size: 67px;
    margin-left: 315px;
    margin-top: -75px;
    text-align: justify;
    width:730px;
    letter-spacing: -2px;
    word-spacing: -7px;
    text-align:center;
  }
  h2 {
      color: white;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 25px;
      margin-left: 490px;
      text-align: justify;
      margin-top: -70px;

  }
  h3{
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 19px;
    margin-top: 45px;
    letter-spacing: 0px;
  }
  input{
    background-color:rgba(22,22,22,0.7);
    color: white  ;
    width: 415px;
    border-radius: 5px;
    border: 1px gray solid;
    padding-right: 20px;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 20px;
    margin-left: 307px;
    
  }
  ::placeholder{
    font-size: 20px;
    color: white;
    font-weight: 500;
  }
  .a4{
    display: inline-flex;
    gap: 11px;
  }

  .get-started{
    background-color: rgb(229, 9,20) ;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    width: 265px;
    font-family: Arial, Helvetica, sans-serif;
    
    
  }

  .a5{
    
    background: linear-gradient(to bottom,red,black);
    
    height: 13px;
    width: 100% ;
    margin-top: 128px;
  }
  .a6{
    background-color: black;
    height: 900px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    
  }
  .a7{
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 600;
    
    margin-top: 70px;
    margin-left: 185px;
  }
  